:root{
    --darkgrey: rgb(16, 33, 39);
    --white: #ffffff;
    --brightred: rgb(255, 0, 0);
    --lightred: rgb(199, 33, 33);
    --lightblue: rgb(42, 42, 204);
}
main{
    background: var(--darkgrey);
}
#mainContainer{
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    grid-gap: 50px;
    width: 80%;
    margin: 0 auto;
    height: 100vh;
}
#mainimg{
    height: 80%;
    width: 80%;
}
.bodyBtn{
    background: var(--brightred);
    color: white;
    font-weight: lighter;
    border: none;
    padding: 5px 15px;
    border-radius: 5px;
    position: relative;
}
.mainContent{
    text-align: center;
}
main .mainContent h1{
    font-size: 1.8rem;
}
main .mainContent p{
    font-size: 1rem;
    margin: 15px 0px;
}
.bodyBtn::after{
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    width: 0%;
    height: 100%;
    transition: all 0.34s;
    background: var(--lightblue);
}
.bodyBtn a{
    position: relative;
    text-decoration: none;
    color: var(--white);
    font-size: 1rem;
    z-index: 2;
}
.bodyBtn:hover{
    color: var(--white);
}
.bodyBtn:hover::after{
    border-radius: 5px;
    width: 100%;
}
