@media screen and (max-width: 760px){
    .navigation{
        position: relative;
    }
    .navigation ul{
        flex-direction: column;
        background: var(--darkgrey);
        width: 100%;
        margin: auto;
        align-items: center;
        position: absolute;
        top: 80px;
        text-align: center;
    }
    .navigation .logo{
        margin-left: 20px;
    }
    .navigation li.active{
        background: var(--darkgrey);
        left: 0;
        opacity: 1;
        transition: all 5s ease;
    }
    .navigation .navItems:hover{
        border: none;
        background: var(--brightred);
    }
    .navigation .navItems:hover{
        color: var(--darkgrey)
    }
    .navigation .navBtn{
        border-radius: 0;
        position: absolute;
        left: 0px;
        width: 100%;
        background: var(--darkgrey);
        text-align: center;
    }
    .navigation .navBtn:hover{
        color: var(--darkgrey);
    }
    .navigation .menutoggle{
        position: absolute;
        top: 30%;
        right: 5%;
        width: 35px;
        height: 5px;
        transform: translate(15%, 20%);
    }
    .navigation .bar{
        display: block;
    }
    .menutoggle.active .bar:nth-child(2){
        opacity: 0;
    } 
    .menutoggle.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    } 
    .menutoggle.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    } 
    .navMenu{
        transition: all 1s ease-in-out;
    }
}