:root{
    --darkgrey: rgb(16, 33, 39);
    --white: #ffffff;
    --brightred: rgb(255, 0, 0);
    --lightred: rgb(199, 33, 33);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1.03rem;
    font-family: 'Baloo Bhai 2', cursive;
}
.navigation{
    display: flex;
    width: 100%;
    max-width: 1300px;
    height: 80px;
    align-items: center;
    justify-content: space-between;
    background: var(--darkgrey);
}
.navigation .logo{
    margin: 15px;
    font-size: 1.5rem;
    color: white;
    cursor: pointer;
}
.navigation ul{
    display: flex;
    list-style: none;
}
.navigation ul li{
    margin: 15px;
}
.navigation ul li a{
    text-decoration: none;
    color: var(--white);
}
.navigation ul li a:hover{
    color: var(--lightred);
    transition: all 0.2s ease-out;
}
.navigation  .navBtn{
    width: 100%;
    background: var(--brightred);
    border-radius: 4px;
    padding: 5px 10px;
}
.navigation  .navBtn:hover{ 
    background: transparent;
    padding: 4px 9px;
    border-radius: 4px;
    border: 1px solid var(--brightred);
    transition: all 0.3s ease-out;
}
.menutoggle .bar{
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background: var(--white);
}


